$max-width: 850px;
$margin: 0 auto;
$color: red;

.App {
  text-align: center;
  // max-width: $max-width;
  // margin: $margin;
}

.grant-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  border: 1px solid black;
  background: lightgrey;
}

.home {
  display: flex;
}

.bookmark {
  text-align: right;
}
