$max-width: 850px;
$margin: 0 auto;
$color: red;

.App {
  text-align: center;
  background: #f7f7f7;
  // max-width: $max-width;
  // margin: $margin;
}

.home {
  display: flex;
}

.bookmark {
  text-align: right;
}
